img.flag_image {
	font-size: 12px;
	height: 32px;
	vertical-align:middle;
}

dd textarea.image {
   background-image: url("Antarctica.png");
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;   
}